@page "/scheduling"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Reserve A Time</h1>

Please contact Billy for further details and to coordinate your private court rental:
904 655-2547
Thank you, see you on the court!
